<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <table class="table table-">
<thead>
<tr>
<th>Firstname</th>
<th>Lastname</th>
<th>Email</th>
</tr>
</thead>
<tbody>
<tr class="success">
<td>amit</td>
<td>tiwari</td>
<td>amit@example.com</td>
</tr>
<tr class="danger">
<td>sachin</td>
<td>joshi</td>
<td>sachin@example.com</td>
</tr>
<tr class="info">
<td>nitin</td>
<td>sharma</td>
<td>nitin@example.com</td>
</tr>
</tbody>
</table>
    </body>
</html>
